/* h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top:12%;
} */
p {

    font-size:20px;
    padding-left: 0%;
    text-align: center;
    color: white;
}
/* home page  headings*/


.Text-box h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    padding-top: 8%;
   
   }
   
   .Text-box p{
   font-size:18px;
    text-align: center;
    display: block;
    color: white;
       
   }
/* about page headings */

.details p{
    display: flex;
    font-size: 16px;
    padding-top:25px;
    width: 85vh;
    height: auto;
    float: right;
    line-height: 30px;
    margin-bottom: 2%;
}
h5{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 2%;
    font-size: 16px;
    letter-spacing: 2px;
}
.Text-box h1{
    color: white;
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    padding-top: 18%;   
}
.Text-box p{
    font-size: 16px;
    text-align: center;
    color:white;
    font-weight: 600;
    padding-top: 2px;
    line-height: 25px;
       
}
/* our programs section */

.prog-title h1{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 4%;
    margin-bottom: 3%;

}

     .about-row li{
        list-style: none;
         padding-top: 2%;
        text-align: center;
        line-height: 30px;
        color: black;
     }
     .about-row p{
        color: black;
        font-size: 15px;
     }

     .about-details img{
        height: 60vh;
        width: auto;
        padding-left: 2%;
     }
     .about-details{
        display: flex;
     }
     .about-details p{
     color: black;
     font-size: 18px;
     line-height: 25px;
     text-align: left;
     padding-left: 2%;
     }
     .about-row{
        column-count: 3;
        padding-bottom: 10%;
       
     }
     .colum{
        background-color: #f3f3f3;
        height: 100vh;
     }
     .about-row img{
        height: 45vh;
        width: auto;
     }
.about-info h1{
    color:white;
    text-align: center;
    padding-top: 6%;
    font-size: 60px;
}
.about-info p{
   text-align: center; 
   font-size: 17px;

}
.about-title h1{
    text-align: center;
    padding-bottom: 3%;
    font-size: 45px;
    font-weight: 600;
}

     /* topnav */
     
     .top-nav{
    background-color: black;
    color: white;
     }

/* home page nav */

@font-face {
    font-family:george;
    src: url("/Tw\ Cen\ MT.ttf");
}

/* header section */
* {
    padding: 0;
    margin: 0;
}
.header {
height: 100vh;   
width:auto; 
background-image:url(assets/images/file.png);
background-position: center;
background-size: cover;
overflow: hidden;
}

.about-header{
height: 80vh;   
width:auto; 
background-image:url(assets/images/Crop\ image\ project.png);
background-position: center;
background-size: cover;
overflow: hidden;
}

.contact-header{
height: 80vh;   
width:auto; 
background-image:url(assets/images/contact.png);
background-position: center;
background-size: cover;
overflow: hidden;
}
nav{
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    align-content: center;
    padding: 5px;;
    width: 100%;
    overflow: hidden;
    top:0;

}
nav img{
    height: 25px;
    padding-top: 10%;
    padding-left: 5%;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 2% ;
   
}
.nav-links {
    text-align: left;
    flex: 1;
    padding-left: 6%;
}
.nav-links ul li a{
    color: #333333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}

/* contact info */
.contact-row{
display: flex;
}
/* bible reading program section */

.bible-row img{
height: 70vh;
}
.bible-row{
    margin-bottom: 10%;
}
.bible-row p{
    color: black;
    /* padding-right: 2px; */
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}
.bible-row h1{
    font-size: 45px;
    color: #465191;
}
/* footer section */

.footer{
    background-color: black;
    height: 80vh;
    overflow: hidden;
 
}

.footer-row{
    display: flex;
}

.footer-col ul li{
   color: white;
   padding: 5%;
   font-size: 17px;
   list-style: none;
 }
 .list-1{
    padding-left:20%;
 }
 .list-2{
    padding-left: 20%;
   
 }
 .footer-col ul{
    width: 60vh; 
 }
 .footer-col img{
    height: 40px;
    width: auto;
    padding-top:30%;
    padding-left: 20%;

 }
 /* copyright nav */
 
 .copyright {
    background-color: #333333;
    color: white;
    text-align: center;
    height: 12vh;
     }
     .copyright p{
        padding-top: 2%;
        font-size:15px;
        color:white;
     }
     .copyright a{
        color: yellow;
     }