*{
    margin: 0%;
    padding: 0;
}

/* header section */

.hero{
background-size: cover;
width:calc(100vh - 50vh);
width: auto;

}

.hero h1{
    color:white;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    padding-top: 28%;
   
   }
   
   .hero p{
    font-size:26px;
    text-align: center;
    display: block;
    color: white;
       
   }
   .hero-1 p{
    font-size: 22px;
   }

   /* top navigation section */
.row-k{
    display: flex; 
    gap: 80%;
    background-color: black;
     color: white;
}
    /* nav section */
    .header{
        display: flex;
    }
    nav ul{
      display: flex;  
    
    }
    nav li{
        list-style: none;
        padding: 2%;
        
    }

    nav a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 900;
    }
/* about page headings */

.details p{
    display: flex;
    font-size: 16px;
    padding-top:25px;
    width: 85vh;
    height: auto;
    float: right;
    line-height: 30px;
    margin-bottom: 2%;
}
h5{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 2%;
    font-size: 16px;
    letter-spacing: 2px;
}

/* our programs section */

.prog-title h1{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 4%;
    margin-bottom: 3%;

}

     .about-row p{
        color: black;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        padding-top: 30px;

     }
     .about-row h2{
        font-size: 20px;
        text-align: center;
     }

     .about-details img{
        height: 60vh;
        width: auto;
        padding-left: 2%;
     }
     .about-details{
        display: flex;
      
     }
     .about-details p{
     color: black;
     font-size: 18px;
     line-height: 25px;
     text-align: left;
     padding-left: 2%;
     }
     .about-row{
        column-count: 3;
        margin-bottom: 40px;
        margin: 30px;
     }
     .about-colum{
        background-color: #f3f3f3;
        height: 100vh;
        position: relative; 
     }
     .about-row button{
        position: absolute; 
        translate: -50%  -50%; 
        bottom: 10%; left: 50%;
        background-color: #ffff00;
        width: 120px;
        height: 40px;
        
     }
     .about-row img{
        height: 45vh;
        width: 64vh;
     }
.about-info h1{
    color:white;
    text-align: center;
    font-size: 60px;
}
.hero-info p{
   text-align: center; 
   font-size: px;

}
.about-title h1{
    text-align: center;
    padding-bottom: 3%;
    font-size: 45px;
    font-weight: 600;
}


/* contact info section */

.contact-row {
    column-count: 2;
    margin-bottom: 10%;
    justify-content: center;
    padding-left:2%;
    padding-right: 2%;
}
 .contact-col{
  background-color: #f3f3f3;
    height: 100vh;
  }
.contact-col li{
    list-style: none;
    padding-left: 5%;
   
}
.contact-col ul{
    padding-top: 10%;
    line-height: 30px;
}
#name{
    width: 80vh;
    height: 20px;
}
#email{
    width: 80vh;
    height: 20px;
}
#no{
    width: 80vh;
    height: 20px;
}
#message{
    width: 80vh;
    height: 50px;
}

.contact-row h1{
font-size: 20px;
background-color:grey;
padding-bottom: 5%;
color: #ffff00;
}

/* bible reading program section */
.bible-colum img{
height: 70vh;
}

.bible-row p{
    color: black;
    font-size: 20px;
    line-height: 35px;
    padding-top: 1rem;
}
.bible-row{
    display: flex; gap: 70px;
    margin: 30px;
}
.bible-row h1{
    font-size: 55px;
    color: #465191;
}

.bible-row button{
    background-color: #ffff00; 
     width:25%; height: 8vh;
     margin-top: 1rem;

}
.test p{
    color: black;
    padding-top: 6%;
    line-height: 30px;
}

/* testimonial section */

.testimonial p{
    line-height: 40px;
    text-align: center;
    padding: 3rem;
    font-size: 26px;

}
.testimonial{
    background-color: #f3f3f3; 
     height: 90vh;
}
/* latest resources section */
.latest-row{
    column-count: 3;
    margin-bottom: 40px;
    margin: 30px;
}
.latest-row img{
    height: 45vh;
    width: 64vh;
}
.latest-colum{
    background-color: #f3f3f3;
    height: 100vh;
}
.latest-row p{
    text-align: center;
    /* padding: 1rem; */
    line-height:30px;
    font-size: 18px;
}
.latest-row h2{
text-align: center;
padding-bottom: 3%;
}
/* footer section */

.footer-row{
    background-color: black;
    column-count: 4;
    height: 100vh;
    padding: 20px;

}
.footer-col{
height: 100%;
}
.footer-col ul li{
   color: white;
   font-size: 17px;
   list-style: none;
 }
 .list{

 }
 .footer-col ul{
   line-height: 50px;
 }
.footer img{
    height: 50px;
    
}
 /* copyright nav */
 
 .copyright {
    background-color: #333333;
    color: white;
    text-align: center;
    height: 12vh;
     }
     .copyright p{
        padding-top: 2%;
        font-size:15px;
        color:white;
     }

     .copyright a{
        color: yellow;
     }
     