@font-face {
    font-family: 'cen';
    src: url(/assets/fonts/Tw\ Cen\ MT.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'cen';
}
/* top navigation section */
.topnav-row{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}
.fa{
    padding-left: 20px;
}
/* navigation section */

.header{
    background-color: #ffff00;
    display: flex;
}
.header ul{
    list-style-type: none;
    overflow: hidden;
  
}
.header li{
    float: left;
   
}
.header a{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: black;

}
.header a:hover{
    background-color:rgba(0, 0, 0, 0.103);
}

/* header section */

.hero{
background-size: cover;
background-position: center;
height: calc(100vh - 96px);
}

.hero h1{
    color:white;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    padding-top: 10%;
   
   }
   
   .hero p{
    font-size:26px;
    text-align: center;
    display: block;
    color: white;
    font-family:'cen';
       
   }
   .hero-1 p{
    font-size: 22px;
   }

    /* nav section */

/* about page hero section*/

.details p{
    display: flex;
    font-size: 16px;
    padding-top:25px;
    width: 100%;
    height: auto;
    float: right;
    line-height: 30px;
    margin-bottom: 2%;
}
h5{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 2%;
    font-size: 16px;
    letter-spacing: 2px;
}
/* latest resources */

.prog-title h1{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 4%;
    margin-bottom: 3%;

}

     .about-row p{
        color: black;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        padding-top: 30px;

     }
     .about-row h2{
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
     }

     .about-row p{
     color: black;
     font-size: 18px;
     line-height: 25px;
     }
     .about-row{
        column-count: 3;
       
     }
     .about-colum{
        background-color: #f3f3f3; 
     }
     .about-row img{
        height: 45vh;
        width: 64vh;
     }
.about-info h1{
    color:white;
    text-align: center;
    font-size: 60px;
}
.hero-info p{
   text-align: center; 
font-family: ne;

}
.about-title h1{
    text-align: center;
    padding-bottom: 3%;
    font-size: 45px;
    font-weight: 600;
}


/* contact info section */

.contact-row {
 column-count: 2;
 margin: 30px;
 gap: 30px;


}
 .contact-col{
  background-color: #f3f3f3;
  height: 150vh;
  }
.contact-col li{
    list-style: none;
    font-size: 20px;
    line-height: 40px;
    
   
}
form{
    padding: 40px; 
    font-size: 20px;
}
form button{
    margin-top: 30px;
     background-color: #ffff00; 
     padding: 15px;
      width: 30%;
}
.contact-col ul{
    line-height: 30px;
    padding: 40px;
}
#name{
    width: 80vh;
    height: 35px;
}
#email{
    width: 80vh;
    height: 35px;
}
#no{
    width: 80vh;
    height: 35px;
}
#message{
    width: 80vh;
    height: 100px;
}

.contact-row h1{
font-size: 20px;
background-color:grey;
padding: 15px;
color: #ffff00;
text-align: center;
}
/* our programs sections */
.program-row{
    column-count: 3;
    margin: 20px;
}
.program-column{
background-color: #f3f3f3;
height: 100vh;
}
.program-column h1{
    text-align: center;
}
/* bible reading program section */
.row{
  column-count: 2;
    margin: 20px;
}
.colum{
    padding-left:30px ;
}
#img{
    height: 300px;
}
.row h1{
    color: blue;
}
.row p{
padding-top: 10px;
line-height: 30px;
word-spacing: 5px;
font-size: 15px;
}

/* testimonial section */

.testimonial p{
    line-height: 40px;
    text-align: center;
    padding: 3rem;
    font-size: 26px;

}
.testimonial{
    background-color: #f3f3f3; 
     height: 90vh;
}
/* latest resources section */
.latest-row{
    column-count: 3;
    margin-bottom: 40px;
    margin: 30px;
}
.latest-row img{
    height: 45vh;
    width: 64vh;
}
.latest-colum{
    background-color: #f3f3f3;
    height: 100vh;
}
.latest-row p{
    text-align: center;
    /* padding: 1rem; */
    line-height:30px;
    font-size: 18px;
}
.latest-row h2{
text-align: center;
padding-bottom: 3%;
}
/* footer section */

.footer-row{
    background-color: black;
    column-count: 4;
    height: 100vh;
    padding-right:  180px;
}
.footer-col{
width: 75vh;
height: 75vh;
padding-top: 50px;
/* left: 50%; */
}
.footer-col li {
   color: white;
   font-size: 15px;
   list-style: none;
 }
 .footer-col ul{
    line-height: 40px;
 }
 .footer-col h2{
color: white;
font-size: 15px;
padding-bottom: 15px;

 }
.footer-row img{
    height: 40px; 
    margin-left: 50px;  
    
}
footer a:hover{
    text-decoration: underline;
    color: #ffff00;
}
 /* copyright nav */
 
 .copyright {
    background-color: #333333;
    color: white;
    text-align: center;
    height: 12vh;
     }
     .copyright p{
        padding-top: 2%;
        font-size:15px;
        color:white;
     }

     .copyright a{
        color: yellow;
     }
     