
@font-face {
    font-family:george;
    src: url("/Tw\ Cen\ MT.ttf");
}

* {
    padding: 0;
    margin: 0;
}
.header {
min-height: 100vh;   
min-width: 100%; 
background-image:url(images/backgroung.png);
background-position: center;
background-size: cover;
position: relative;
}
nav{
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    align-content: center;
    padding:0%;
    width: 100%;
    overflow: hidden;
    top:0;

}
nav img{
    height: 40px;
    padding-top: 10%;
    padding-left: 5%;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 2% ;
   
}
.nav-links {
    text-align: left;
    flex: 1;
    padding-left: 6%;
}
.nav-links ul li a{
    color: #333333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}
 .Text-box h1{
 color: white;
 font-size: 60px;
 font-weight: 600;
 text-align: center;
padding-top: 16%;

}

.Text-box p{
font-size:18px;
 text-align: center;
 display: block;
 color: white;
    
}

/* footer */
.footer{
    background-color: black;
    height: 80vh;
    overflow: hidden;
 
}

.footer-row{
    display: flex;
}

.footer-col ul li{
   color: white;
   padding: 5%;
   font-size: 17px;
   list-style: none;
 }
 .list-1{
    padding-left:20%;
 }
 .list-2{
    padding-left: 20%;
   
 }
 .footer-col ul{
    width: 60vh; 
 }
 .footer-col img{
    height: 40px;
    width: auto;
    padding-top:30%;
    padding-left: 20%;

 }


 /* copyright nav */
 .copyright {
background-color: #333333;
color: white;
text-align: center;
height: 12vh;
 }
 .copyright p{
    padding-top: 2%;
    font-size: 22px;
 }
 .copyright a{
    color: yellow;
 }